Source: fused
Priority: optional
Maintainer: daos-stack <daos@daos.groups.io>
Build-Depends:
 debhelper (>= 11),
 pkg-config,
 meson,
Standards-Version: 4.3.0
Homepage: https://daos.io
Vcs-Browser: https://github.com/daos-stack/fused.git
Vcs-Git: https://github.com/daos-stack/fused.git

Package: libfused
Section: libdevel
Architecture: any
Multi-Arch: same
Description: Runtime binaries for DAOS FUSE library

Package: libfused-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Description: Development binaries and headers for DAOS FUSE library
Depends: libfused
